POSTGRES_USER=honeywatch
POSTGRES_PASSWORD=changeme
POSTGRES_DB=honeywatch

FLASK_SECRET_KEY=changeme
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=changeme

# IP Geolocation based on MaxMind's GeoLite database
MAXMIND_LICENSE_KEY=

# Grafana
GRAFANA_ADMIN_PASSWORD=changeme

# WireGuard interface IP (for exposing API/Dashboard to proxy VPS)
WG_IP=10.0.0.1
